<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.google.com/" class="nav-link px-2 text-body-secondary">About</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.planitplus.net/JobProfiles?letter=A" class="nav-link px-2 text-body-secondary">Careers</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.google.com/"  class="nav-link px-2 text-body-secondary">Trust & Safty</a></li>
      <li class="nav-item"><a target="_blank"href="https://www.google.com/" class="nav-link px-2 text-body-secondary" class="nav-link px-2 text-body-secondary">Report issue</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2024 GetStart, Inc</p>
  </footer>
</div>
